---
export const prerender = true;

import BaseHead from '../components/BaseHead.astro';
import EquipmentTable from '../components/EquipmentTable.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import heroImg from '../assets/mon-materiel-domotique-vf.jpeg';

type Equipment = {
	name: string;
	image: string;
	protocol: string;
	integration: string;
	price: string;
	rating: number;
	comment: string;
	affiliateLink: string | null;
	articleUrl: string | null;
};

// Date de dernière mise à jour générée automatiquement
const lastUpdated = new Date().toLocaleDateString('fr-FR', {
	day: 'numeric',
	month: 'long',
	year: 'numeric'
});

const siteUrl = 'https://www.the-optimization-guy.com';

const structuredProducts = [
	{
		name: 'Sonoff SNZB-04 Contact',
		image: '/images/equipment/sonoff-snzb-04-contact.jpg',
		description: 'Parfait pour portes et fenêtres.',
		url: 'https://domadoo.fr/sonoff-snzb-04?ref=the-optimization-guy',
		brand: 'Sonoff',
		price: '11.00',
	},
	{
		name: 'Tado V3+ Thermostat',
		image: '/images/equipment/Thermostat-Intelligent-Tado-v3+.jpg',
		description: 'Le meilleur thermostat connecté, ROI rapide.',
		url: 'https://domadoo.fr/tado-v3?ref=the-optimization-guy',
		brand: 'tado°',
		price: '129.00',
	},
	{
		name: 'Têtes thermostatiques Tado',
		image: '/images/equipment/tete-thermostatique-tado-v3+.avif',
		description: 'Granularité pièce par pièce, top en hiver.',
		url: 'https://domadoo.fr/tete-tado?ref=the-optimization-guy',
		brand: 'tado°',
		price: '79.00',
	},
	{
		name: 'Switchbot Bot',
		image: '/images/equipment/switchbot-bot.jpg',
		description: 'Pratique pour automatiser un bouton existant.',
		url: 'https://domadoo.fr/switchbot-bot?ref=the-optimization-guy',
		brand: 'SwitchBot',
		price: '29.00',
	},

];

const structuredData = {
	'@context': 'https://schema.org',
	'@type': 'CollectionPage',
	name: 'Mon matériel – The Optimization Guy',
	url: `${siteUrl}/mon-materiel/`,
	description:
		'Découvrez tout le matériel recommandé par The Optimization Guy : équipements, outils et accessoires utilisés au quotidien.',
	mainEntity: structuredProducts.map((product) => ({
		'@type': 'Product',
		name: product.name,
		image: product.image.startsWith('http') ? product.image : `${siteUrl}${product.image}`,
		description: product.description,
		url: product.url,
		brand: {
			'@type': 'Brand',
			name: product.brand,
		},
		offers: {
			'@type': 'Offer',
			url: product.url,
			priceCurrency: 'EUR',
			price: product.price,
			availability: 'https://schema.org/InStock',
			itemCondition: 'https://schema.org/NewCondition',
		},
	})),
};

const security: Equipment[] = [
	// Caméras Reolink
	{
		name: 'Reolink Argus 4 Pro',
		image: '/images/equipment/reolink-argus-4.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '204€',
		rating: 3,
		comment: 'Mauvaise expérience et vision 180° peu pratique.',
		affiliateLink: 'https://amzn.to/3Z3c1Zs',
		articleUrl: null,
	},
	{
		name: 'Reolink Argus 3 Ultra',
		image: '/images/equipment/reolink-argus-3-ultra.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '110€',
		rating: 5,
		comment: 'Fiable, bonne vision et autonome avec panneau solaire.',
		affiliateLink: 'https://amzn.to/4sriE5g',
		articleUrl: null,
	},
	{
		name: 'Reolink Lumus Pro',
		image: '/images/equipment/reolink-lumus-pro.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '63€',
		rating: 5,
		comment: "Je l'utilise pour une mangeoire à oiseaux connectée.",
		affiliateLink: 'https://amzn.to/3Nd9M3a',
		articleUrl: null,
	},
	// Caméras Tapo
	{
		name: 'Tapo C225',
		image: '/images/equipment/tapo-c225.jpg',
		protocol: 'WiFi',
		integration: 'Non',
		price: '40€',
		rating: 4,
		comment: 'Connexion impossible sur HA et système à aimant facilitant le vol.',
		affiliateLink: 'https://amzn.to/4jx3gAg',
		articleUrl: null,
	},
	{
		name: 'Tapo C510W',
		image: '/images/equipment/tapo-c510w.jpg',
		protocol: 'WiFi',
		integration: 'Moyenne',
		price: '34€',
		rating: 4,
		comment: 'Rapport qualité/prix top. Gros + avec son système de cache vie privée.',
		affiliateLink: 'https://amzn.to/4qaNGNj',
		articleUrl: null,
	},
	{
		name: 'Tapo C425',
		image: '/images/equipment/tapo-c425.jpg',
		protocol: 'WiFi',
		integration: 'Moyenne',
		price: '83€',
		rating: 3,
		comment: 'Rapport qualité/prix top. Gros + avec son système de cache vie privée.',
		affiliateLink: 'https://amzn.to/49ruJ1G',
		articleUrl: null,
	},
	// Serrures et claviers
	{
		name: 'Serrure SwitchBot Smart Lock Ultra',
		image: '/images/equipment/switchbot-lock-ultra.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '250€',
		rating: 4,
		comment: 'Pratique et rapide, quelques recalibrations nécessaires.',
		affiliateLink: 'https://amzn.to/4pCOI3E',
		articleUrl: null,
	},
	{
		name: 'SwitchBot Keypad Vision',
		image: '/images/equipment/switchbot-keypad-vision.jpg',
		protocol: 'Bluetooth',
		integration: '-',
		price: '150€',
		rating: 4,
		comment: "L'impression de vivre dans le futur avec la reconnaissance des visages.",
		affiliateLink: 'https://amzn.to/4aNzc14',
		articleUrl: null,
	},
	{
		name: 'SwitchBot Keypad Touch',
		image: '/images/equipment/switchbot - keypad-touch.jpg',
		protocol: 'Bluetooth',
		integration: '-',
		price: '67€',
		rating: 5,
		comment: 'Très pratique mais un peu lent.',
		affiliateLink: 'https://amzn.to/4pxqw2o',
		articleUrl: null,
	},
];

const sensors: Equipment[] = [
	// Capteurs d'ouverture
	{
		name: "Capteur d'ouverture Sonoff SNZB-04P",
		image: '/images/equipment/sonoff-zigbee-30-snzb-04p.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '12€',
		rating: 5,
		comment: "Celui que j'utilise le plus. Top.",
		affiliateLink: 'https://www.domadoo.fr/fr/produits-de-domotique/7058-sonoff-capteur-de-porte-ou-fenetre-zigbee-30-snzb-04p.html?domid=129',
		articleUrl: null,
	},
	{
		name: "Capteur d'ouverture Tapo T110",
		image: '/images/equipment/tapo-t110.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '13€',
		rating: 5,
		comment: "J'en ai quelques-unes, discret et fiable.",
		affiliateLink: 'https://amzn.to/4qNpsIS',
		articleUrl: null,
	},
	// Détecteurs de mouvement/présence
	{
		name: 'Détecteur de mouvement Sonoff SNZB-03P',
		image: '/images/equipment/sonoff-snzb-03p.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '15€',
		rating: 4,
		comment: 'Fonctionne bien mais imposant.',
		affiliateLink: 'https://www.domadoo.fr/fr/securite/6923-sonoff-detecteur-de-mouvement-zigbee-30-compatible-zigbee2mqtt-snzb-03p.html?domid=129',
		articleUrl: null,
	},
	{
		name: 'Détecteur de présence Sonoff SNZB-06P',
		image: '/images/equipment/sonoff-snzb-06p.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '16€',
		rating: 4,
		comment: 'OK mais doit être branché.',
		affiliateLink: 'https://www.domadoo.fr/fr/alarme-connectee/6827-sonoff-capteur-de-presence-humaine-zigbee-30-technologie-radar-snzb-06p.html?domid=129',
		articleUrl: null,
	},
	// Capteurs de température
	{
		name: 'Capteur de température Sonoff SNZB-02LD',
		image: '/images/equipment/sonoff-snzb02ld.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '20€',
		rating: 5,
		comment: "Je l'utilise pour mon congélateur, top.",
		affiliateLink: 'https://www.domadoo.fr/fr/produits-de-domotique/7846-sonoff-capteur-de-temperature-zigbee-etanche-ip65-cable-deporte-snzb02ld.html?domid=129',
		articleUrl: null,
	},
	{
		name: 'Capteur de température et humidité Tapo T310',
		image: '/images/equipment/tapo-t310.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '20€',
		rating: 5,
		comment: 'Discret et petit.',
		affiliateLink: 'https://amzn.to/3La0TXD',
		articleUrl: null,
	},
	{
		name: 'Capteur de température et humidité Tapo T315',
		image: '/images/equipment/tapo-t315.jpeg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '28€',
		rating: 5,
		comment: 'Fiable et précis.',
		affiliateLink: 'https://amzn.to/45G4raT',
		articleUrl: null,
	},
	// Capteurs de fuite
	{
		name: 'Capteur de fuite Sonoff SNZB-05P',
		image: '/images/equipment/sonoff-snzb-05p.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '22€',
		rating: 4,
		comment: "J'en ai de nombreux chez moi, petit et discret.",
		affiliateLink: 'https://www.domadoo.fr/fr/produits-de-domotique/7183-sonoff-detecteur-d-inondation-zigbee-ip67-extensible-snzb-05p-6920075741810.html?domid=129',
		articleUrl: null,
	},
	{
		name: 'Capteur de fuite Tapo T300',
		image: '/images/equipment/tapo-t300.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '22€',
		rating: 4,
		comment: 'Possède sa propre alarme mais est imposant.',
		affiliateLink: 'https://amzn.to/3NcoE1O',
		articleUrl: null,
	},
	// Capteurs de luminosité
	{
		name: 'Capteur de luminosité TS0222',
		image: '/images/equipment/capteur-luminosite.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '15€',
		rating: 5,
		comment: 'Ultra réactif.',
		affiliateLink: 'https://www.domadoo.fr/fr/produits-de-domotique/8025-mumubiz-capteur-de-luminosite-exterieur-zigbee-avec-panneau-solaire-tuya-smart-life.html?domid=129',
		articleUrl: null,
	},
	{
		name: 'Capteur de luminosité extérieur Mumubiz',
		image: '/images/equipment/mumubiz-capteur-de-luminosite.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '30€',
		rating: 3,
		comment: 'Peu réactif.',
		affiliateLink: 'https://www.domadoo.fr/fr/produits-de-domotique/8025-mumubiz-capteur-de-luminosite-exterieur-zigbee-avec-panneau-solaire-tuya-smart-life.html?domid=129',
		articleUrl: null,
	},
	// Capteur de pluie
	{
		name: 'Capteur de pluie Mumubiz',
		image: '/images/equipment/mumubiz-capteur-de-pluie.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '35€',
		rating: 4,
		comment: 'Fonctionne bien mais détecte de la pluie avec la rosée.',
		affiliateLink: 'https://www.domadoo.fr/fr/produits-zigbee/7815-mumubiz-capteur-de-pluie-zigbee-ewelink-jeedom-home-assistant-zigbee2mqtt.html?domid=129',
		articleUrl: null,
	},
	// Capteur de vibration
	{
		name: 'Capteur de vibration Third Reality 3RVS01031Z',
		image: '/images/equipment/third-reality-3rvs01031z.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '20€',
		rating: 5,
		comment: 'Ultra sensible, top.',
		affiliateLink: 'https://amzn.to/49PWi6c',
		articleUrl: null,
	},
	// Détecteur de fumée
	{
		name: 'Détecteur de fumée Heiman',
		image: '/images/equipment/heiman-HS1SA.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '28€',
		rating: 5,
		comment: 'Super modèle, discret.',
		affiliateLink: 'https://amzn.to/49gFeWN',
		articleUrl: null,
	},
];

const heating: Equipment[] = [
	{
		name: 'Tado V3+ Thermostat',
		image: '/images/equipment/Thermostat-Intelligent-Tado-v3+.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '129€',
		rating: 5,
		comment: 'Le meilleur thermostat connecté, ROI rapide.',
		affiliateLink: 'https://amzn.to/4sBhe8g',
		articleUrl: '/blog/test-tado-v3',
	},
	{
		name: 'Têtes thermostatiques Tado',
		image: '/images/equipment/tete-thermostatique-tado-v3+.avif',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '79€/pièce',
		rating: 5,
		comment: 'Granularité pièce par pièce, top en hiver.',
		affiliateLink: 'https://amzn.to/4qlY9Wg',
		articleUrl: '/blog/tetes-thermostatiques-tado',
	},
	{
		name: 'Module fil pilote Nodon SIN-4-FP-21',
		image: '/images/equipment/nodon-module-chauffage-fil-pilote-zigbee.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '40€',
		rating: 5,
		comment: 'Pilote mes 2 sèche-serviettes, marque FR.',
		affiliateLink: 'https://www.domadoo.fr/fr/chauffage-connecte/6828-nodon-module-chauffage-fil-pilote-connecte-zigbee-30.html?domid=129',
		articleUrl: null,
	},
];

const cleaning: Equipment[] = [
	{
		name: 'Robot Tondeuse Dream A1',
		image: '/images/equipment/dreame_a1.jpg',
		protocol: 'WiFi',
		integration: 'Moyenne',
		price: '1055€',
		rating: 5,
		comment: "Très fiable, j'adore !",
		affiliateLink: 'https://amzn.to/49PcAfu',
		articleUrl: null,
	},
	{
		name: 'Robot aspirateur Dream X50 Master',
		image: '/images/equipment/dream-x50-master.jpg',
		protocol: 'WiFi',
		integration: 'Moyenne',
		price: '1074€',
		rating: 5,
		comment: 'Relié à ma plomberie, 100% autonome.',
		affiliateLink: 'https://amzn.to/457TDSK',
		articleUrl: null,
	},
];

const multimedia: Equipment[] = [
	{
		name: 'Ampli Nad C700',
		image: '/images/equipment/nad-c700.jpg',
		protocol: 'Ethernet',
		integration: 'Oui',
		price: '1599€',
		rating: 5,
		comment: 'Magnifique, BluOS est le meilleur système pour la musique connectée.',
		affiliateLink: 'https://amzn.to/3YuKaRP',
		articleUrl: null,
	},
	{
		name: 'Xiaomi TV Box S 3ème Génération',
		image: '/images/equipment/xiaomi-tv-box-3.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '52€',
		rating: 4,
		comment: 'WiFi seulement. Automatisation à venir avec ma TV.',
		affiliateLink: 'https://amzn.to/4jDnIQ6',
		articleUrl: null,
	},
];

const switchesAndLights: Equipment[] = [
	// Prises connectées
	{
		name: 'Prise Tapo P110',
		image: '/images/equipment/tapo-p110.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '13€',
		rating: 4,
		comment: 'Un peu grosse et quelques-unes tombées en panne après 1 an.',
		affiliateLink: 'https://amzn.to/4qMxYYu',
		articleUrl: null,
	},
	{
		name: 'Prise Tapo P110M',
		image: '/images/equipment/tapo-p110m.jpeg',
		protocol: 'WiFi + Matter',
		integration: 'Oui',
		price: '20€',
		rating: 3,
		comment: 'Idem et plus cher puisque Matter.',
		affiliateLink: 'https://amzn.to/3Z6wqg9',
		articleUrl: null,
	},
	{
		name: 'Prise Sonoff S60ZBTPF',
		image: '/images/equipment/SONOFF-S60ZBTPF.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '16€',
		rating: 5,
		comment: 'Taille parfaite et fiable.',
		affiliateLink: 'https://www.domadoo.fr/fr/produits-zigbee/7851-sonoff-prise-connectee-zigbee-16a-mesure-consommation.html?domid=129',
		articleUrl: null,
	},
	// Interrupteurs
	{
		name: 'Interrupteur Tapo S210',
		image: '/images/equipment/tapo-s210.png',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '22€',
		rating: 4,
		comment: 'Facile à installer par contre besoin de piles.',
		affiliateLink: 'https://amzn.to/3Z7iAu0',
		articleUrl: null,
	},
	{
		name: 'Interrupteur Tapo S220',
		image: '/images/equipment/tapo-s220.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '24€',
		rating: 4,
		comment: 'Idem S210.',
		affiliateLink: 'https://amzn.to/3Z7j17C',
		articleUrl: null,
	},
	{
		name: 'Interrupteur Sonoff ZBM5-1C-80/86',
		image: '/images/equipment/SONOFF-Zigbee-ZBM5-1C-86W.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '22€',
		rating: 5,
		comment: 'Facile à installer et sans piles.',
		affiliateLink: 'https://www.domadoo.fr/fr/interrupteur-mural-zigbee/7947-sonoff-interrupteur-mural-zigbee-1-canal-blanc-zbm5-1c-86w.html?domid=129',
		articleUrl: null,
	},
];

const buttons: Equipment[] = [
	{
		name: 'Bot Switchbot',
		image: '/images/equipment/switchbot-bot.jpg',
		protocol: 'Bluetooth',
		integration: 'Oui',
		price: '25€',
		rating: 5,
		comment: 'Utilisé pour des volets non connectables. Très bonne qualité.',
		affiliateLink: 'https://amzn.to/4aTLRQ8',
		articleUrl: null,
	},
	{
		name: 'Fingerbot MOES TS0001',
		image: '/images/equipment/Fingerbot-TS0001.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '20€',
		rating: 3,
		comment: 'Qualité moyenne et consomme des piles.',
		affiliateLink: 'https://www.domadoo.fr/fr/telecommandes-connectees/6903-moes-bouton-intelligent-fingerbot-zigbee-tuya-zs-fb-v3-ms.html?domid=129',
		articleUrl: null,
	},
	{
		name: 'Bouton Tapo S200D',
		image: '/images/equipment/tapo-s200b.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '17€',
		rating: 2,
		comment: '2 fonctions seulement et non connectable sur HA.',
		affiliateLink: 'https://amzn.to/4jDU9hl',
		articleUrl: null,
	},
	{
		name: 'Bouton Sonoff SNZB-01P',
		image: '/images/equipment/SONOFF SNZB-01P.jpg',
		protocol: 'Zigbee',
		integration: 'Non',
		price: '11€',
		rating: 5,
		comment: 'Très pratique, plusieurs fonctions.',
		affiliateLink: 'https://www.domadoo.fr/fr/peripheriques/6733-sonoff-bouton-connecte-sans-fil-zigbee-30.html?domid=129',
		articleUrl: null,
	},
];

const infrastructure: Equipment[] = [
	{
		name: 'Home Assistant Green',
		image: '/images/equipment/home-assistant-green.jpg',
		protocol: '-',
		integration: 'Oui',
		price: '109€',
		rating: 5,
		comment: 'Parfait pour commencer sur HA.',
		affiliateLink: 'https://www.domadoo.fr/fr/produits-compatibles-home-assistant/7046-nabu-casa-box-domotique-home-assistant-green-0860011789703.html?domid=129',
		articleUrl: null,
	},
	{
		name: 'Répéteur Zigbee Aeotec',
		image: '/images/equipment/aotec-zigbee-repetiteur.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '30€',
		rating: 5,
		comment: 'Indispensable si vous avez une grande maison ou des murs épais.',
		affiliateLink: 'https://www.domadoo.fr/fr/peripheriques/6288-aeotec-repeteur-routeur-zigbee-range-extender-zi-wg001-1220000017078.html?domid=129',
		articleUrl: null,
	},
];

const sections = [
	{
		id: 'infrastructure',
		title: '🏢 Infrastructure',
		items: infrastructure,
		description: 'Le socle de mon installation : Home Assistant, Zigbee et tout ce qui doit rester fiable 24/7.'
	},
	{
		id: 'prises-interrupteurs',
		title: '🔌 Prises et interrupteurs',
		items: switchesAndLights,
		description: 'Le kit de base pour piloter et mesurer : couper, programmer, suivre la conso… sans prise de tête.'
	},
	{
		id: 'capteurs',
		title: '🧭 Capteurs',
		items: sensors,
		description: 'Ce qui "donne des yeux" à la maison : ouverture, mouvement, fuite, température… et déclenche les automatisations.'
	},
	{
		id: 'chauffage',
		title: '🔥 Chauffage',
		items: heating,
		description: 'Là où la domotique paye vite : pilotage fin par pièce, confort stable, et moins de gaspillage.'
	},
	{
		id: 'securite',
		title: '🔒 Sécurité',
		items: security,
		description: 'Surveillance et accès : caméras, serrure, clavier… pour sécuriser sans transformer la maison en bunker.'
	},
	{
		id: 'boutons-fingerbot',
		title: '🖲️ Boutons et Fingerbot',
		items: buttons,
		description: 'Les raccourcis physiques : un clic = une scène, et des "doigts" pour automatiser ce qui ne l\'était pas.'
	},
	{
		id: 'menage-entretien',
		title: '🧹 Ménage et entretien',
		items: cleaning,
		description: 'Les corvées que je délègue : tonte et aspiration, avec un maximum d\'autonomie.'
	},
	{
		id: 'multimedia',
		title: '🎬 Multimédia',
		items: multimedia,
		description: 'Musique et TV côté salon : contrôle centralisé depuis Home Assistant (et quelques automatisations sympas).'
	},
];
const heroImgSrc = heroImg.src;

---

<!doctype html>
<html lang="fr">
	<head>
		<!-- Google Tag Manager -->
		<script is:inline>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start': new Date().getTime(),
					event: 'gtm.js',
				});
				const f = d.getElementsByTagName(s)[0];
				const j = d.createElement(s);
				const dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-PTBBTWQV');
		</script>
		<!-- End Google Tag Manager -->
		<BaseHead
			title="Mon matériel domotique Home Assistant - The Optimization Guy"
			description="Liste complète du matériel domotique que j'utilise au quotidien : caméras, capteurs, chauffage connecté, et mes recommandations."
		/>
		<script type="application/ld+json" set:html={JSON.stringify(structuredData)}></script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-PTBBTWQV"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
			<Header />
			<section class="hero-split" aria-label="Intro">
				<div class="hero-split__grid">
					<figure class="hero-split__media">
						<img
							src={heroImgSrc}
							alt="Mon matériel domotique Home Assistant (installé et testé chez moi)"
							width="1200"
							height="900"
							loading="eager"
							fetchpriority="high"
							class="hero-split__image"
						/>
					</figure>

					<div class="hero-split__content">
						<p class="hero-split__kicker">
							Matériel acheté, installé et testé
						</p>

						<h1 class="hero-split__title">
							Mon Matériel domotique
						</h1>

						<p class="hero-split__intro">
							Voici le matériel domotique que j'utilise réellement chez moi avec Home Assistant.
							Tout a été acheté par mes soins, installé et testé sur la durée. J'ai commencé par
							optimiser le chauffage, puis j'ai équipé la maison en Tapo, avant de migrer
							progressivement vers un écosystème Zigbee plus fiable.
						</p>

						<nav aria-label="Accès rapides" class="hero-split__nav">
							<ul class="hero-split__chips">
								<li><a href="#infrastructure" class="hero-split__chip">Infrastructure</a></li>
								<li><a href="#prises-interrupteurs" class="hero-split__chip">Prises et interrupteurs</a></li>
								<li><a href="#capteurs" class="hero-split__chip">Capteurs</a></li>
								<li><a href="#chauffage" class="hero-split__chip">Chauffage</a></li>
								<li><a href="#securite" class="hero-split__chip">Sécurité</a></li>
								<li><a href="#boutons-fingerbot" class="hero-split__chip">Boutons et Fingerbot</a></li>
								<li><a href="#menage-entretien" class="hero-split__chip">Ménage et entretien</a></li>
								<li><a href="#multimedia" class="hero-split__chip">Multimédia</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</section>
		<main class="equipment-main">
			<article class="equipment-page">

				{sections.map((section) => (
					<section id={section.id} class="equipment-section">
						<h2>{section.title}</h2>
						<p class="section-intro">
							{section.description}
						</p>
						<EquipmentTable equipment={section.items} />
					</section>
				))}
			</article>
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	/* Désactiver le gradient du body pour cette page */
	:root {
		--equipment-max-width: 1200px;
		--equipment-gutter: 1em;
		--equipment-content-width: min(
			calc(100% - (var(--equipment-gutter) * 2)),
			var(--equipment-max-width)
		);
	}

	body {
		background: white !important;
		background-size: auto !important;
	}

	.dark body {
		background: rgb(17, 24, 39) !important;
	}
</style>

	<style>
		:root {
			--equipment-max-width: 1200px;
			--equipment-gutter: 1em;
			--equipment-content-width: calc(100% - (var(--equipment-gutter) * 2));
		}

		.hero-split {
			width: var(--equipment-content-width);
			max-width: var(--equipment-max-width);
			margin: 0 auto;
			padding: 2rem var(--equipment-gutter) 1.5rem;
		}

		.hero-split__grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1.5rem;
		}

		.hero-split__media {
			order: 1;
		}

		.hero-split__image {
			width: 100%;
			display: block;
			border-radius: 1rem;
			border: 1px solid rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
			aspect-ratio: 4 / 3;
			object-fit: cover;
			background: rgba(0, 0, 0, 0.05);
		}

		:global(.dark) .hero-split__image {
			border-color: rgba(255, 255, 255, 0.1);
			background: rgba(255, 255, 255, 0.05);
		}

		.hero-split__content {
			order: 2;
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		.hero-split__kicker {
			font-size: 0.75rem;
			font-weight: 600;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			color: rgba(0, 0, 0, 0.6);
		}

		:global(.dark) .hero-split__kicker {
			color: rgba(255, 255, 255, 0.6);
		}

		.hero-split__title {
			font-size: clamp(1.9rem, 2.6vw, 2.5rem);
			line-height: 1.2;
			font-weight: 600;
			margin: 0;
		}

		.hero-split__intro {
			color: rgba(0, 0, 0, 0.7);
			max-width: 65ch;
			margin: 0;
		}

		:global(.dark) .hero-split__intro {
			color: rgba(255, 255, 255, 0.7);
		}

		.hero-split__nav {
			padding-top: 0.25rem;
		}

		.hero-split__chips {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.hero-split__chip {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0.35rem 0.75rem;
			border-radius: 999px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			font-size: 0.85rem;
			color: rgba(0, 0, 0, 0.8);
			text-decoration: none;
			transition: background 0.2s ease;
		}

		.hero-split__chip:hover {
			background: rgba(0, 0, 0, 0.05);
		}

		:global(.dark) .hero-split__chip {
			border-color: rgba(255, 255, 255, 0.1);
			color: rgba(255, 255, 255, 0.8);
		}

		:global(.dark) .hero-split__chip:hover {
			background: rgba(255, 255, 255, 0.05);
		}

		@media (min-width: 1024px) {
			.hero-split__grid {
				grid-template-columns: repeat(2, minmax(0, 1fr));
				align-items: center;
				gap: 2.5rem;
			}
		}

		.equipment-main {
			width: var(--equipment-content-width);
			max-width: var(--equipment-max-width);
			margin: 0 auto;
			padding: 1rem var(--equipment-gutter) 4em;
		}

	.equipment-page {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.equipment-section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.section-intro {
		margin: 0;
		color: rgb(var(--gray));
		font-size: 1rem;
	}

	:global(.dark) .section-intro {
		color: rgb(var(--gray));
	}

	.equipment-section h2 {
		font-size: 1.8rem;
		margin-bottom: 0.25rem;
	}

	@media (max-width: 768px) {
		.page-header h1 {
			font-size: 2rem;
		}
		.equipment-section h2 {
			font-size: 1.5rem;
		}
	}
</style>
