---
export const prerender = true;

import BaseHead from '../components/BaseHead.astro';
import EquipmentTable from '../components/EquipmentTable.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

type Equipment = {
	name: string;
	image: string;
	protocol: string;
	integration: string;
	price: string;
	rating: number;
	comment: string;
	affiliateLink: string | null;
	articleUrl: string | null;
};

const lastUpdated = '1 janvier 2025';

const siteUrl = 'https://www.the-optimization-guy.com';

const structuredProducts = [
	{
		name: 'Sonoff SNZB-04 Contact',
		image: 'https://community.hubitat.com/uploads/default/original/3X/7/5/755811b5f4acd5d77b9b54f0517e638c7e52a952.jpeg',
		description: 'Parfait pour portes et fenêtres.',
		url: 'https://domadoo.fr/sonoff-snzb-04?ref=the-optimization-guy',
		brand: 'Sonoff',
		price: '11.00',
	},
	{
		name: 'Tado V3+ Thermostat',
		image: 'https://m.media-amazon.com/images/I/61fiMVYLXVL._AC_.jpg',
		description: 'Le meilleur thermostat connecté, ROI rapide.',
		url: 'https://domadoo.fr/tado-v3?ref=the-optimization-guy',
		brand: 'tado°',
		price: '129.00',
	},
	{
		name: 'Têtes thermostatiques Tado',
		image: 'https://media.adeo.com/media/4721022/media.png?width=3000&height=3000&format=jpg&quality=80&fit=bounds',
		description: 'Granularité pièce par pièce, top en hiver.',
		url: 'https://domadoo.fr/tete-tado?ref=the-optimization-guy',
		brand: 'tado°',
		price: '79.00',
	},
	{
		name: 'Switchbot Bot',
		image: 'https://i5.walmartimages.com/asr/0ffcb79d-d390-46e1-8717-d79b1e67b133.3055a9a9422d96a3f22a3f570c7d5caa.jpeg',
		description: 'Pratique pour automatiser un bouton existant.',
		url: 'https://domadoo.fr/switchbot-bot?ref=the-optimization-guy',
		brand: 'SwitchBot',
		price: '29.00',
	},

];

const structuredData = {
	'@context': 'https://schema.org',
	'@type': 'CollectionPage',
	name: 'Mon matériel – The Optimization Guy',
	url: `${siteUrl}/mon-materiel/`,
	description:
		'Découvrez tout le matériel recommandé par The Optimization Guy : équipements, outils et accessoires utilisés au quotidien.',
	mainEntity: structuredProducts.map((product) => ({
		'@type': 'Product',
		name: product.name,
		image: product.image.startsWith('http') ? product.image : `${siteUrl}${product.image}`,
		description: product.description,
		url: product.url,
		brand: {
			'@type': 'Brand',
			name: product.brand,
		},
		offers: {
			'@type': 'Offer',
			url: product.url,
			priceCurrency: 'EUR',
			price: product.price,
			availability: 'https://schema.org/InStock',
			itemCondition: 'https://schema.org/NewCondition',
		},
	})),
};

const security: Equipment[] = [
	{
		name: 'Reolink Argus 4 Pro',
		image: 'https://home-cdn.reolink.us/wp-content/uploads/2024/06/070511041717737064.7127.jpg.webp',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '204€',
		rating: 4,
		comment: 'Caméra de sécurité.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Tapo C225',
		image: 'https://static.tp-link.com/upload/image-line/Tapo-C225_EU_1.0_overview_05_large_20221128090030u.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '40€',
		rating: 4,
		comment: 'Caméra de sécurité.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Reolink Lumus Pro',
		image: 'https://home-cdn.reolink.us/wp-content/uploads/2024/10/300852201730278340.2305.jpg.webp',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '63€',
		rating: 4,
		comment: 'Caméra de sécurité.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Tapo C510W',
		image: 'https://static.tp-link.com/upload/image-line/01_normal_20230420071916t.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '34€',
		rating: 4,
		comment: 'Caméra de sécurité.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Reolink Argus 3 Ultra',
		image: 'https://home-cdn.reolink.us/wp-content/uploads/2023/11/090908511699520931.6711.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '110€',
		rating: 4,
		comment: 'Caméra de sécurité.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Tapo C425',
		image: 'https://static.tp-link.com/upload/image-line/Tapo_C425(US)_1.0-180x150x84.5mm-7022510299_large_20240328055558w.png',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '83€',
		rating: 4,
		comment: 'Caméra de sécurité.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Serrure SwitchBot Smart Lock Ultra',
		image: 'https://m.media-amazon.com/images/I/61UnLizGnPL._AC_SL1500_.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '250€',
		rating: 4,
		comment: 'Serrure connectée.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'SwitchBot Keypad Vision',
		image: 'https://www.switch-bot.com/cdn/shop/files/Keypad_vision_JP_Amazon_Images_1000x1000_05_2x_2.webp?v=1747894218',
		protocol: 'Bluetooth',
		integration: 'Oui',
		price: '150€',
		rating: 4,
		comment: 'Clavier de serrure.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'SwitchBot Keypad Touch',
		image: 'https://i5.walmartimages.com/seo/SwitchBot-Keypad-Touch-Smart-Keypad-for-SwitchBot-Lock-2-Years-Battery-Life-IP65_33f6b833-2a54-4f08-9d4c-f7a6b20a666b.f918e8ea7702fd3489ced62641dfbef5.jpeg',
		protocol: 'Bluetooth',
		integration: 'Oui',
		price: '67€',
		rating: 4,
		comment: 'Clavier tactile.',
		affiliateLink: null,
		articleUrl: null,
	},
];

const sensors: Equipment[] = [
	{
		name: "Capteur d'ouverture Sonoff SNZB-04P",
		image: 'https://sonoff.tech/cdn/shop/files/sonoff-zigbee-door-window-sensor-snzb-04p-3.jpg?v=1751008379&width=1200',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '12€',
		rating: 4,
		comment: "Capteur d'ouverture.",
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: "Capteur d'ouverture Tapo T110",
		image: 'https://static.tp-link.com/upload/image-line/Tapo_T110_04_large_20220616080629e.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '13€',
		rating: 4,
		comment: "Capteur d'ouverture.",
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Détecteur de mouvement Sonoff SNZB-03P',
		image: 'https://m.media-amazon.com/images/I/6135pMy+h6L._AC_.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '15€',
		rating: 4,
		comment: 'Détecteur de mouvement.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Détecteur de présence Sonoff SNZB-06P',
		image: 'https://itead.cc/wp-content/uploads/2023/09/SNZB-06P_1000px_1.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '16€',
		rating: 4,
		comment: 'Détecteur de présence.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Capteur de pluie SNZB-05',
		image: 'https://www.expert4house.com/img/cms/Sensori Acqua Smart/Sonoff SNZB-05P Rilevatore di Perdite dacqua Smart Zigbee IP67.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '20€',
		rating: 4,
		comment: 'Capteur de pluie.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Capteur de fuite Sonoff SNZB-05P',
		image: 'https://www.expert4house.com/6792-large_default/sonoff-snzb-05p-capteur-de-fuite-d-eau-intelligent-zigbee.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '22€',
		rating: 4,
		comment: 'Capteur de fuite.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Capteur de vibration Third Reality 3RVS01031Z',
		image: 'https://zigbee.blakadder.com/assets/images/devices/Third_Reality_3RVS01031Z.webp',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '20€',
		rating: 4,
		comment: 'Capteur de vibration.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Capteur de température Sonoff SNZB-02LD',
		image: 'https://cdn2.domadoo.fr/33245-large_default/sonoff-capteur-de-temperature-zigbee-etanche-ip65-cable-deporte-snzb02ld.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '20€',
		rating: 4,
		comment: 'Capteur de température.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Capteur de fuite Tapo T300',
		image: 'https://static.tp-link.com/upload/image-line/8_large_20230725014222p.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '22€',
		rating: 4,
		comment: 'Capteur de fuite.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Capteur de température et humidité Tapo T310',
		image: 'https://static.tp-link.com/upload/image-line/Tapo_T310_2_normal_20231208011539o.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '20€',
		rating: 4,
		comment: 'Capteur de température et humidité.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Capteur de température et humidité Tapo T315',
		image: 'https://fr.store.tapo.com/cdn/shop/files/TAPOT315_OVERVIEW_1.jpg?v=1719853739',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '28€',
		rating: 4,
		comment: 'Capteur de température et humidité.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Capteur de luminosité TS0222',
		image: 'https://community.jeedom.com/uploads/default/original/3X/7/1/71e8421cb38e4b71f7b0cf5536b9fcc53ab26b6b.png',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '15€',
		rating: 4,
		comment: 'Capteur de luminosité.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Détecteur de fumée Heiman',
		image: 'https://m.media-amazon.com/images/I/71m44RpM3EL._AC_.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '28€',
		rating: 4,
		comment: 'Détecteur de fumée.',
		affiliateLink: null,
		articleUrl: null,
	},
];

const heating: Equipment[] = [
	{
		name: 'Tado V3+ Thermostat',
		image: 'https://m.media-amazon.com/images/I/61fiMVYLXVL._AC_.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '129€',
		rating: 5,
		comment: 'Le meilleur thermostat connecté, ROI rapide.',
		affiliateLink: 'https://domadoo.fr/tado-v3?ref=the-optimization-guy',
		articleUrl: '/blog/test-tado-v3',
	},
	{
		name: 'Têtes thermostatiques Tado',
		image: 'https://media.adeo.com/media/4721022/media.png?width=3000&height=3000&format=jpg&quality=80&fit=bounds',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '79€/pièce',
		rating: 5,
		comment: 'Granularité pièce par pièce, top en hiver.',
		affiliateLink: 'https://domadoo.fr/tete-tado?ref=the-optimization-guy',
		articleUrl: '/blog/tetes-thermostatiques-tado',
	},
	{
		name: 'Module fil pilote Nodon SIN-4-FP-21',
		image: 'https://haade.fr/assets/images/generated/posts/118/test-nodon-module-fil-pilote-sin-4fp-21-controle-dans-home-assistant-940-e96b56148.png',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '40€',
		rating: 4,
		comment: 'Module fil pilote.',
		affiliateLink: null,
		articleUrl: null,
	},
];

const cleaning: Equipment[] = [
	{
		name: 'Robot Tondeuse Dream A1',
		image: 'https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc4/Dreame-A1-Maehroboter-Test-Bilder-Unterseite.jpg',
		protocol: 'WiFi',
		integration: 'Moyenne',
		price: '1055€',
		rating: 4,
		comment: 'Robot tondeuse.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Robot aspirateur Dream X50 Master',
		image: 'https://fr.dreametech.com/cdn/shop/files/Host-rag_external_expansion_2fa81370-733b-4479-9768-0ef74f5d9952_1024x1024.jpg?v=1735281769',
		protocol: 'WiFi',
		integration: 'Moyenne',
		price: '1074€',
		rating: 4,
		comment: 'Robot aspirateur.',
		affiliateLink: null,
		articleUrl: null,
	},
];

const multimedia: Equipment[] = [
	{
		name: 'Ampli Nad C700',
		image: 'public/images/equipment/ampli-nad-C700.webp',
		protocol: 'WiFi',
		integration: 'Moyenne',
		price: '1599€',
		rating: 4,
		comment: 'Ampli connecté.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Xiaomi TV Box S 3ème Génération',
		image: 'https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-tv-box-s-3rd-gen/pc/zewsxdrcftvgybhnj.jpg',
		protocol: 'WiFi',
		integration: 'Moyenne',
		price: '52€',
		rating: 4,
		comment: 'Box multimédia.',
		affiliateLink: null,
		articleUrl: null,
	},
];

const switchesAndLights: Equipment[] = [
	{
		name: 'Prise Tapo P110',
		image: 'https://static.tp-link.com/upload/image-line/01_large_20210910081715c.jpg',
		protocol: 'WiFi',
		integration: 'Oui',
		price: '13€',
		rating: 4,
		comment: 'Prise connectée.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Prise Tapo P110M',
		image: 'https://static.tp-link.com/upload/image-line/2_normal_20230913015222f.jpg',
		protocol: 'WiFi + Matter',
		integration: 'Oui',
		price: '20€',
		rating: 4,
		comment: 'Prise connectée.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Prise Sonoff S60ZBTPF',
		image: 'https://www.cnx-software.com/wp-content/uploads/2025/06/Sonoff_S60ZBTPF_AvailableModel.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '16€',
		rating: 4,
		comment: 'Prise connectée.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Interrupteur Tapo S210',
		image: 'https://static.tp-link.com/upload/image-line/overview_07_large_20230105093825m.jpg',
		protocol: 'SubGHz',
		integration: 'Oui',
		price: '22€',
		rating: 4,
		comment: 'Interrupteur connecté.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Interrupteur Tapo S220',
		image: 'https://static.tp-link.com/upload/image-line/overview_06_large_20230105093533k.jpg',
		protocol: 'SubGHz',
		integration: 'Oui',
		price: '24€',
		rating: 4,
		comment: 'Interrupteur connecté.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Interrupteur Sonoff ZBM5-1C-80/86',
		image: 'https://sonoff.tech/cdn/shop/files/SONOFF_SwitchMan_Zigbee_Smart_Wall_Switch-03.jpg?v=1751265059&width=1400',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '22€',
		rating: 4,
		comment: 'Interrupteur connecté.',
		affiliateLink: null,
		articleUrl: null,
	},
];

const buttons: Equipment[] = [
	{
		name: 'Bot Switchbot',
		image: 'https://i5.walmartimages.com/asr/0ffcb79d-d390-46e1-8717-d79b1e67b133.3055a9a9422d96a3f22a3f570c7d5caa.jpeg',
		protocol: 'Bluetooth',
		integration: 'Oui',
		price: '25€',
		rating: 4,
		comment: 'Bot connecté.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Fingerbot TS0001',
		image: 'https://cdn2.domadoo.fr/26391-large_default/adaprox-smart-button-fingerbot-zigbee-30-tuya-and-zigbee2mqtt.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '20€',
		rating: 4,
		comment: 'Fingerbot.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Bouton Tapo S200D',
		image: 'https://www.neobyte.es/124416-thickbox_default/tp-link-tapo-s200d-boton-inteligente.jpg',
		protocol: 'SubGHz',
		integration: 'Oui',
		price: '17€',
		rating: 4,
		comment: 'Bouton connecté.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Bouton Sonoff SNZB-01P',
		image: 'https://shop.smarthome-europe.com/18054-thickbox_default/bouton-connecte-sans-fil-zigbee-30-snzb-01p-sonoff.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '11€',
		rating: 4,
		comment: 'Bouton connecté.',
		affiliateLink: null,
		articleUrl: null,
	},
];

const infrastructure: Equipment[] = [
	{
		name: 'Répéteur Zigbee Aeotec',
		image: 'https://cdn1.domadoo.fr/22259-large_default/aeotec-repeteur-routeur-zigbee-range-extender-zi-wg001.jpg',
		protocol: 'Zigbee',
		integration: 'Oui',
		price: '30€',
		rating: 4,
		comment: 'Répéteur Zigbee.',
		affiliateLink: null,
		articleUrl: null,
	},
	{
		name: 'Home Assistant Green',
		image: 'https://www.home-assistant.io/images/green/ha-green-box-contents.jpg',
		protocol: '-',
		integration: 'Oui',
		price: '109€',
		rating: 4,
		comment: 'Box Home Assistant.',
		affiliateLink: null,
		articleUrl: null,
	},
];

const sections = [
	{ title: 'Sécurité', items: security },
	{ title: 'Capteurs', items: sensors },
	{ title: 'Chauffage', items: heating },
	{ title: 'Ménage et entretien', items: cleaning },
	{ title: 'Multimédia', items: multimedia },
	{ title: 'Prise et interrupteur', items: switchesAndLights },
	{ title: 'Boutons et Fingerbot', items: buttons },
	{ title: 'Infrastructure', items: infrastructure },
];
---

<!doctype html>
<html lang="fr">
	<head>
		<!-- Google Tag Manager -->
		<script is:inline>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start': new Date().getTime(),
					event: 'gtm.js',
				});
				const f = d.getElementsByTagName(s)[0];
				const j = d.createElement(s);
				const dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-PTBBTWQV');
		</script>
		<!-- End Google Tag Manager -->
		<BaseHead
			title="Mon matériel domotique Home Assistant - The Optimization Guy"
			description="Liste complète du matériel domotique que j'utilise au quotidien : caméras, capteurs, chauffage connecté, et mes recommandations."
		/>
		<script type="application/ld+json" set:html={JSON.stringify(structuredData)}></script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-PTBBTWQV"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Header />
		<main class="equipment-main">
			<article class="equipment-page">
				<header class="page-header">
					<h1>Mon matériel</h1>
					<p class="last-updated">Dernière mise à jour : {lastUpdated}</p>
					<p class="intro">
						Voici la liste complète du matériel domotique que j'utilise chez moi avec Home Assistant.
						Tout ce qui est listé ici est réellement installé et testé, avec mes retours courts et directs.
					</p>
				</header>

				{sections.map((section) => (
					<section class="equipment-section">
						<h2>{section.title}</h2>
						<p class="section-intro">
							Une sélection de produits testés au quotidien pour cette catégorie.
						</p>
						<EquipmentTable equipment={section.items} />
					</section>
				))}
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
	.equipment-main {
		width: calc(100% - 2em);
		max-width: 1200px;
		margin: 0 auto;
		padding: 3em 1em 4em;
	}

	.equipment-page {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.page-header {
		text-align: left;
		max-width: 820px;
	}

	.page-header h1 {
		font-size: 2.5rem;
		margin-bottom: 0.5rem;
	}

	.last-updated {
		font-size: 0.95rem;
		color: #6b7280;
	}

	:global(.dark) .last-updated {
		color: #9ca3af;
	}

	.intro {
		margin-top: 1rem;
		color: #374151;
		font-size: 1.05rem;
	}

	:global(.dark) .intro {
		color: #d1d5db;
	}

	.equipment-section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.section-intro {
		margin: 0;
		color: rgb(var(--gray));
		font-size: 1rem;
	}

	:global(.dark) .section-intro {
		color: rgb(var(--gray));
	}

	.equipment-section h2 {
		font-size: 1.8rem;
		margin-bottom: 0.25rem;
	}

	@media (max-width: 768px) {
		.page-header h1 {
			font-size: 2rem;
		}
		.equipment-section h2 {
			font-size: 1.5rem;
		}
	}
</style>
